<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="false" />
        <authentication mode="Windows" />
        <siteMap enabled="true" defaultProvider="SiteMapDataProvider">
            <providers>
                <add name="SiteMapDataProvider" type="DBlock.SiteMapDataProvider, DBlock.SiteMapDataProvider" />
            </providers>
        </siteMap>
    </system.web>
</configuration>
